@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&family=TASA+Orbiter:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  --font-stack: "Stack Sans Notch", sans-serif;
  --font-tasa: "TASA Orbiter", sans-serif;
}

body {
  font-family: var(--font-stack);
}
@keyframes softFloat {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-softFloat {
  animation: softFloat 4s ease-in-out infinite;
}

.animate-softFloatDelay {
  animation: softFloat 4s ease-in-out infinite;
  animation-delay: 2s;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(10, 10, 20, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4c007d, #b300ff);
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(179, 0, 255, 0.6);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #b300ff, #e36aff);
  box-shadow: 0 0 20px rgba(227, 106, 255, 0.9);
}



